<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Standalone.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup><userSettings>
        <Standalone.WPF.Properties.Settings>
            <setting name="ViewColumnSize" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="AppWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="AppHeight" serializeAs="String">
                <value>550</value>
            </setting>
            <setting name="AppWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CommandTimeout" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="StandardSharedSizeScope" serializeAs="String">
                <value>False</value>
            </setting>
        </Standalone.WPF.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
