<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <installers>
    
    <!-- Specific WPF installers -->
    <install type="Standalone.WPF.Installers.ApplicationInstaller" />
    <install type="Standalone.WPF.Installers.FactoryInstaller" />
    <install type="Standalone.WPF.Installers.DataInstaller" />

    <install type="Standalone.WPF.Installers.Views.FieldPathComboInstaller" />
    <install type="Standalone.WPF.Installers.Views.PresetInstaller" />
    <install type="Standalone.WPF.Installers.Views.StandardInstaller" />
    
    
    <!-- Standard Core Installers -->
    <!-- To load all default installers, just include the assembly name -->
    <!--<install assembly="Standalone.Core" />-->
    
    <!-- To control what installers are included, list each installer type -->
    <install type="Standalone.Core.Installers.AssemblerInstaller" />
    <install type="Standalone.Core.Installers.ConfigurationInstaller" />
    <install type="Standalone.Core.Installers.InitialiserInstaller" />
    <!--<install type="Standalone.Core.Installers.DataInstaller" />-->
  
    <!-- To provide your own installer to override the default installer, add it here 
           1) Create your own MyLibrary.dll with one or more classes implementing IWindsorInstaller
           2) Comment out the relevant Standalone.Core.Installers above
           3) Add your installer below
    -->
    <!-- <install type="MyLibrary.Installers.ConfigurationInstaller, MyLibrary" /> -->
  
  </installers>
</configuration>