<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <installers>
    <install assembly="Standalone" />
    
    <!-- To load all default installers, just include the assembly name -->
    <!--<install assembly="Standalone.Core" />-->
    
    <!-- To control what installers are included, list each installer type -->
    <install type="Standalone.Core.Installers.AssemblerInstaller" />
    <install type="Standalone.Core.Installers.ConfigurationInstaller" />
    <install type="Standalone.Core.Installers.InitialiserInstaller" />
  </installers>
</configuration>